mat-card {
  &.container {
    display: block;
    margin: 1em 2em;
    min-height: calc(100vh - 64px - 4em);

    &.auto {
      display: inline-block;
    }
  }
}

main {
  &.wrapper {
    background: #333;
  }
}
