<form
  [formGroup]="signUpForm"
  (ngSubmit)="signUp(formGroupDirective)"
  #formGroupDirective="ngForm"
  class="sign-up"
>
  <h1>{{ "SIGN_UP.SIGN_UP_TITLE" | translate }}</h1>

  <mat-form-field appearance="fill">
    <mat-label>{{ "SIGN_UP.ENTER_YOUR_EMAIL" | translate }}</mat-label>
    <input matInput formControlName="email"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ "SIGN_UP.ENTER_YOUR_PASSWORD" | translate }}</mat-label>
    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"/>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <div class="child-center">
    <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
      {{ "SIGN_UP.SUBMIT_BTN" | translate }}
    </button>
  </div>
</form>
