<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword(formGroupDirective)"
  #formGroupDirective="ngForm"
  class="reset-password"
>
  <h1>{{ "RESET_PASSWORD.RESET_PASSWORD_TITLE" | translate }}</h1>

  <mat-form-field appearance="fill">
    <mat-label>{{ "RESET_PASSWORD.ENTER_YOUR_EMAIL" | translate }}</mat-label>
    <input matInput formControlName="email"/>
  </mat-form-field>
  <app-control-message-invalid
    [control]="resetPasswordForm.get('email')"
    [formLabel]="'SIGN_IN.EMAIL' | translate"
  ></app-control-message-invalid>

  <div class="child-center">
    <button mat-raised-button color="primary" type="submit">
      {{ "RESET_PASSWORD.SUBMIT_BTN" | translate }}
    </button>
  </div>
</form>
